In [119]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [120]:
game_events = pd.read_csv('../csv/game_events.csv')

### Step 1: Data Understanding ###
+ Dataframe shape
+ head 
+ dtypes
+ describe

In [121]:
game_events.shape

(666558, 10)

In [122]:
game_events.head(20)

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN
5,eef9c46dd75c3aa4c6a503225427446e,2012-08-05,2211607,11,Goals,383,38497,", Right-footed shot, 1. Tournament Goal Assist...",NaN,33210.0
6,5d5aef7dedcd5dc9d35dea9438ee35e0,2012-08-05,2211607,90,Cards,610,42710,1. Yellow card,NaN,NaN
7,7717860e3b0376b86f445f4749fa2ce5,2012-08-05,2211607,44,Goals,610,42710,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,4425.0
8,02c708273f4fa2003873ef5908e4e3a6,2012-08-05,2211607,79,Cards,610,45509,1. Yellow card,NaN,NaN
9,d1be2ce4bd5f0ca091c1b15a8569301c,2012-08-05,2211607,90,Goals,383,49499,", Right-footed shot, 1. Tournament Goal Assist...",NaN,167850.0
10,f0dfb41b779ad8efbd5acbd0aeedff11,2012-08-05,2211607,76,Substitutions,610,52246,", Not reported",182932.0,NaN
11,06d75371c9a8f3a8db9236ffdd01dcb1,2012-08-05,2211607,75,Goals,610,52920,", Own-goal Assist: , Cross, 1. Tournament Assist",NaN,124891.0
12,6ab3a43a37e3b264d03dcf997e38c167,2012-08-05,2211607,37,Cards,383,68864,1. Yellow card,NaN,NaN
13,e67340caefbf1cbe1be393d3d61448e1,2012-08-05,2211607,84,Substitutions,383,72462,", Not reported",167850.0,NaN
14,ac69368250666fd5e9d142f53f1e539f,2012-08-05,2211607,65,Substitutions,610,95755,", Not reported",34784.0,NaN
15,874987f117bca74599041037e0c43075,2012-08-05,2211607,-1,Cards,610,124883,1. Yellow card,NaN,NaN
16,c7273eb67de6f9ba953ae41e7bffb62a,2012-08-05,2211607,31,Cards,610,187245,1. Yellow card,NaN,NaN
17,584282a7024a5a6da90cbb20317111ff,2012-08-05,2211607,76,Substitutions,610,187245,", Not reported",111184.0,NaN
18,ed9bded6064e693d92634a764cfd3e1a,2012-08-11,2218677,76,Cards,506,2865,1. Yellow card,NaN,NaN
19,fead616bb25013d5cb15d9fe7f12880e,2012-08-11,2218677,89,Substitutions,506,2865,", Not reported",56703.0,NaN

In [123]:
game_events.columns

Index(['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description', 'player_in_id', 'player_assist_id'],
      dtype='object')

In [124]:
game_events.dtypes #id in float?

game_event_id        object
date                 object
game_id               int64
minute                int64
type                 object
club_id               int64
player_id             int64
description          object
player_in_id        float64
player_assist_id    float64
dtype: object

In [125]:
game_events['type'].value_counts().unique

<bound method Series.unique of type
Substitutions    421908
Goals            180901
Cards             62473
Shootout           1276
Name: count, dtype: int64>

<h1>description of each column:<h1>

+ game_event_id: Identifier for each game event.
+ date: Date of the game event, stored in the format YYYY-MM-DD.
+ game_id: Identifier for each game.
+ minute: Minute of the game when the event occurred.
+ type: Type of game event, such as goals, substitutions, or cards.
+ club_id: Identifier for the club associated with the event.
+ player_id: Identifier for the player involved in the event.
+ description: Description of the event, often containing details like the type of shot or the assist.
+ player_in_id: Identifier for the player who entered the game (applicable for substitution events).
+ player_assist_id (float64): Identifier for the player who assisted in the event (applicable for goals).

### Step 2: Data Preperation ###
+ Dropping irrelevant columns and rows (NaN)
+ Identifying duplicated columns
+ Feature Creation

In [126]:
game_events.isna().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description         336325
player_in_id        245309
player_assist_id    635701
dtype: int64

In [127]:
game_events.loc[game_events['description'].isnull()]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
26555,e4d512124476ec9412a40b6a5992ee2f,2012-08-22,2235964,81,Substitutions,10468,121235,NaN,121027.0,NaN
26557,ac641aeaaf272da2f7e39427fe5e03c8,2012-08-22,2235964,66,Substitutions,10468,201284,NaN,113699.0,NaN
28472,9e4d13d444aa9315f9fb56ef075faf23,2013-02-17,2240152,81,Substitutions,1465,17352,NaN,125700.0,NaN
28473,4bc0bb78995d14303a22390aeec4e601,2013-02-17,2240152,62,Substitutions,1301,24880,NaN,237663.0,NaN
28475,b08ec33cbbcb9be738f1525e8d09d4e1,2013-02-17,2240152,65,Substitutions,1465,42303,NaN,150535.0,NaN
...,...,...,...,...,...,...,...,...,...,...
666389,1ab6aea19aa0cdefb8a6499315fd4c04,2023-11-22,4227848,73,Substitutions,29397,348953,NaN,582949.0,NaN
666390,d5c714db0319a34d9355e8a1d8962dca,2023-11-22,4227848,80,Substitutions,29397,451684,NaN,945223.0,NaN
666391,cda3609ab4adfb44d5ed93af837ce4a1,2023-11-22,4227848,66,Substitutions,3060,491648,NaN,118302.0,NaN
666392,67a2fab497298fc8307e05e2a4df7098,2023-11-22,4227848,66,Substitutions,3060,502893,NaN,495489.0,NaN
666393,70adf7511df011c1bed63eab5c466037,2023-11-22,4227848,66,Substitutions,29397,710314,NaN,206573.0,NaN

In [128]:
Nan_Des = game_events.loc[game_events['description'].isnull()]
Nan_Des['type'].unique() #so when description is null, it is a substitutions game events. See other nan values

array(['Substitutions'], dtype=object)

In [129]:
Nan_Des.shape

(336325, 10)

In [130]:
Nan_player_in = game_events.loc[game_events['player_in_id'].isnull()]
Nan_player_in['type'].unique() #in Cards, Goals or shootout events is normal that there is no value

array(['Cards', 'Goals', 'Substitutions', 'Shootout'], dtype=object)

In [131]:
Nan_player_in.shape

(245309, 10)

In [132]:
Nan_player_in.isna().sum() #In some substitutions no one enters, they look like incoherent data

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description            582
player_in_id        245309
player_assist_id    214452
dtype: int64

In [133]:
Nan_player_in.loc[Nan_player_in['description'].isnull()]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
147900,dd26ed0a91fed1b8ba57292204d944d3,2014-12-06,2460748,88,Substitutions,79,86202,NaN,NaN,NaN
150622,21056a64f814010db0b8ced0f1bace9d,2014-07-27,2469421,74,Substitutions,5817,264299,NaN,NaN,NaN
150734,7afe7889754fc042f6bf1be23b22555c,2014-08-15,2469452,90,Substitutions,865,22499,NaN,NaN,NaN
151046,86200f245b963544c208a117ca824951,2014-12-01,2469539,90,Substitutions,1465,152176,NaN,NaN,NaN
152298,e7d5d169f9fb1c186cee0782b455b830,2014-12-22,2470056,85,Substitutions,126,59931,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
659890,8bd30a176cfa51e23d9fb2903fff2b95,2023-09-23,4173734,80,Substitutions,13677,841413,NaN,NaN,NaN
659936,a9f802fe7c7009f9c75bd6ca4c44f132,2023-09-23,4173741,77,Substitutions,10597,196141,NaN,NaN,NaN
659940,61b3ee32fff6d7fa21a1dabc00fcaeea,2023-09-23,4173741,77,Substitutions,10597,401680,NaN,NaN,NaN
661023,7bd5ae5d5ec726cb017111f6422b3c9f,2023-10-04,4181478,82,Substitutions,20979,542556,NaN,NaN,NaN
662693,aa0e7661d22aec7741e52ffc48e3053d,2023-10-12,4192080,65,Substitutions,112755,253887,NaN,NaN,NaN

In [134]:
Nan_player_in[(Nan_player_in['type'] == 'Substitutions') & Nan_player_in[['description', 'player_in_id', 'player_assist_id']].isna().all(axis=1)].shape[0]
#Count rows where all three columns are null 
#So we can remove there row, because are equal to the missing description number

582

In [135]:
# Createone boolean mask for identifing all the rows of type = substitution with NaN value for each of 3 columns 
mask = (game_events['type'] == 'Substitutions') & game_events['description'].isnull() & game_events['player_in_id'].isnull() & game_events['player_assist_id'].isnull()
# remove the rows that satisfied the mask 
game_events = game_events.drop(game_events[mask].index)

In [136]:
game_events.shape

(665976, 10)

In [137]:
game_events.query("type == 'Shootout'") #Maybe this is Penalty kick

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
613529,18795095e32877ef0693f6a1b8e2d878,2023-01-11,3998376,-1,Shootout,418,18922,", Scored",NaN,NaN
613530,42d801700d04daea6e068fa367be9e4f,2023-01-11,3998376,-1,Shootout,418,27992,", Scored",NaN,NaN
613531,eec64a5579045e749fc7c37df5d0ace9,2023-01-11,3998376,-1,Shootout,418,31909,", Scored",NaN,NaN
613533,4667fa4fd349c761c988a53eab4f2726,2023-01-11,3998376,-1,Shootout,1049,48280,", Scored",NaN,NaN
613536,fb88bbeacc69cb5582b05a870f7c1138,2023-01-11,3998376,-1,Shootout,1049,221322,", Saved",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
666515,cfe2e2c9bdebe69d5f2a115b089d29eb,2023-11-14,4227998,-1,Shootout,1072,485994,", Scored",NaN,NaN
666518,192d0d70152ad2caa9012b8cfbe5f144,2023-11-14,4227998,-1,Shootout,1072,552615,", Saved",NaN,NaN
666521,04dbf4c98add438c33a61f93ee2e3f5e,2023-11-14,4227998,-1,Shootout,34888,583997,", Saved",NaN,NaN
666524,922f918f7d1df11e6581bce2936d0edf,2023-11-14,4227998,-1,Shootout,1072,701062,", Scored",NaN,NaN
666527,7714f6467d47c57cdb6ebdf6b93dbfe4,2023-11-14,4227998,-1,Shootout,1072,1032875,", Scored",NaN,NaN

In [138]:
Nan_player_assist = game_events.loc[game_events['player_assist_id'].isnull()]
Nan_player_assist['type'].unique()

array(['Cards', 'Substitutions', 'Goals', 'Shootout'], dtype=object)

In [139]:
Nan_player_assist.isna().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description         335743
player_in_id        213870
player_assist_id    635119
dtype: int64

In [140]:
game_events.duplicated().sum()

0

<h1>CREATE NEW DATASET<h1>

In [141]:
substitution = game_events.loc[game_events['type'] == 'Substitutions']

In [142]:
substitution.shape

(421326, 10)

In [143]:
substitution.isna().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description         335743
player_in_id            77
player_assist_id    421326
dtype: int64

In [144]:
substitution = substitution[['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description', 'player_in_id']]

In [145]:
substitution.loc[substitution['description'].notna()]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0
10,f0dfb41b779ad8efbd5acbd0aeedff11,2012-08-05,2211607,76,Substitutions,610,52246,", Not reported",182932.0
13,e67340caefbf1cbe1be393d3d61448e1,2012-08-05,2211607,84,Substitutions,383,72462,", Not reported",167850.0
14,ac69368250666fd5e9d142f53f1e539f,2012-08-05,2211607,65,Substitutions,610,95755,", Not reported",34784.0
17,584282a7024a5a6da90cbb20317111ff,2012-08-05,2211607,76,Substitutions,610,187245,", Not reported",111184.0
...,...,...,...,...,...,...,...,...,...
666550,7b89ec7d57033c6783b80a4ab248b947,2023-11-15,4228114,59,Substitutions,46889,814815,", Tactical",550816.0
666551,503bec0b5797d85f747a4aaf1c23b308,2023-11-15,4228114,63,Substitutions,46889,839808,", Injury",1203716.0
666553,7f5a6b61ca858e0cd63a58c554b56bb7,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical",965607.0
666555,d638b1e72f531c413487d413258a3130,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical",1200869.0
666556,0ff7774aa1383af83e40c435325463af,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical",921121.0

In [146]:
substitution['description'].unique()

array([', Not reported', ', Tactical', ', Delay', ', Resting', ', Injury',
       ', Risk of booking', ', Special achievements',
       ', Substitution without replacement', nan], dtype=object)

In [147]:
substitution['description'].fillna(', Not reported', inplace=True)

In [148]:
substitution.loc[substitution['player_in_id'].isna()]

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id
16280,ab4e2ad6d50ee8cd1927934938c658a7,2012-09-23,2225462,90,Substitutions,31,78959,", Substitution without replacement",NaN
16727,af8264d946665c974ee98f2f6cad5433,2012-10-07,2225500,76,Substitutions,405,90964,", Substitution without replacement",NaN
26969,ee4cbac0bc20bce458d0336b350f5410,2012-10-07,2240047,80,Substitutions,720,79960,", Substitution without replacement",NaN
31617,e3a71e2f06aeba3432625243d2ae3905,2012-11-11,2242924,73,Substitutions,3709,16315,", Substitution without replacement",NaN
32378,b82273ce2950e288f17ba294c99fdcf5,2013-05-08,2242976,82,Substitutions,418,35664,", Substitution without replacement",NaN
...,...,...,...,...,...,...,...,...,...
659899,8ebb237e92a929015c051f77785cc2f1,2023-09-23,4173734,80,Substitutions,13677,1063673,", Tactical",NaN
660645,fdb6184fe2f9a4b19c2800716845ad20,2023-09-26,4180926,83,Substitutions,112611,615993,", Not reported",NaN
661027,585fbb999f872674039dd01d9b5374bf,2023-10-04,4181478,62,Substitutions,20979,695761,", Not reported",NaN
661317,22fbe29bade214c06945c6f8133b98a2,2023-09-16,4182474,87,Substitutions,41231,371856,", Substitution without replacement",NaN
662699,6f29ce9bbe74431bb1e782abe9e5333e,2023-10-12,4192080,78,Substitutions,112755,1121762,", Not reported",NaN

In [149]:
substitution.isna().sum()

game_event_id     0
date              0
game_id           0
minute            0
type              0
club_id           0
player_id         0
description       0
player_in_id     77
dtype: int64

In [150]:
cards = game_events.loc[game_events['type'] == 'Cards']

In [151]:
cards.shape

(62473, 10)

In [152]:
cards.isna().sum()

game_event_id           0
date                    0
game_id                 0
minute                  0
type                    0
club_id                 0
player_id               0
description             0
player_in_id        62473
player_assist_id    62473
dtype: int64

In [153]:
cards = cards[['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description']] #remove columns
cards.shape

(62473, 8)

In [154]:
goal = game_events.loc[game_events['type'] == 'Goals']

In [155]:
goal.shape

(180901, 10)

In [156]:
goal.isna().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description              0
player_in_id        180901
player_assist_id    150044
dtype: int64

In [157]:
goal = goal[['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description', 'player_assist_id']]
goal.shape

(180901, 9)

In [158]:
shootout =  game_events.loc[game_events['type'] == 'Shootout']

In [159]:
shootout.shape

(1276, 10)

In [160]:
shootout.isna().sum()

game_event_id          0
date                   0
game_id                0
minute                 0
type                   0
club_id                0
player_id              0
description            0
player_in_id        1276
player_assist_id    1276
dtype: int64

In [161]:
shootout = shootout[['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description']]
shootout.shape

(1276, 8)