# <font color='gray'>Large Scale Data Analytics using Jupyter Notebooks</font>

###### In this preliminary data analysis, we observed the column names, the shape of each dataset including the data format, and the null values. <br>The data is collected in 9 different CSV files: appearances, club_games, clubs, competitions, game_events, game_lineups, games, player_valuations and players.

In [2]:
import pandas as pd
import numpy as np

## <font color='green'>competitions</font> table 
###### This table contains information about competitions, such as the competition name, the competition country, and the competition type.

In [3]:
cpt = pd.read_csv('../csv/competitions.csv')
cpt.head()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...

In [4]:
cpt.columns

Index(['competition_id', 'competition_code', 'name', 'sub_type', 'type',
       'country_id', 'country_name', 'domestic_league_code', 'confederation',
       'url'],
      dtype='object')

In [5]:
cpt.dtypes

competition_id          object
competition_code        object
name                    object
sub_type                object
type                    object
country_id               int64
country_name            object
domestic_league_code    object
confederation           object
url                     object
dtype: object

In [6]:
cpt.shape

(43, 10)

In [7]:
cpt.isna()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,True,True,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,True,True,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,True,True,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,True,True,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,True,True,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,True,True,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,True,True,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False

In [8]:
cpt.isna().sum()

competition_id          0
competition_code        0
name                    0
sub_type                0
type                    0
country_id              0
country_name            7
domestic_league_code    7
confederation           0
url                     0
dtype: int64

###### Let's see in which tuples there are null values in the column country_name

In [9]:
cpt[cpt['country_name'].isnull()]

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url
6,USC,uefa-super-cup,uefa-super-cup,uefa_super_cup,other,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-super-cup...
8,EL,europa-league,europa-league,europa_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league/...
17,ELQ,europa-league-qualifikation,europa-league-qualifikation,europa_league_qualifying,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/europa-league-...
20,ECLQ,uefa-europa-conference-league-qualifikation,uefa-europa-conference-league-qualifikation,uefa_europa_conference_league_qualifiers,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-europa-co...
26,CL,uefa-champions-league,uefa-champions-league,uefa_champions_league,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-champions...
31,KLUB,fifa-klub-wm,fifa-klub-wm,fifa_club_world_cup,other,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/fifa-klub-wm/s...
37,CLQ,uefa-champions-league-qualifikation,uefa-champions-league-qualifikation,uefa_champions_league_qualifying,international_cup,-1,NaN,NaN,europa,https://www.transfermarkt.co.uk/uefa-champions...

## <font color='green'>games</font> table
###### This table contains details about individual matches, such as the home team, the away team, the competition, the season, the date, the stadium and the number of goals.

In [10]:
gms = pd.read_csv('../csv/games.csv')
gms.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222597,RU1,2012,6. Matchday,2012-08-25,3725,232,2,1,2.0,...,Akhmat-Arena,21700.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/terek-grozny_s...,NaN,NaN,RFK Akhmat Grozny,FK Spartak Moskva,2:1,domestic_league
1,2222627,RU1,2012,5. Matchday,2012-08-20,2696,4128,0,2,11.0,...,Metallurg,11400.0,Sergey Ivanov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Amkar Perm,0:2,domestic_league
2,2222658,RU1,2012,10. Matchday,2012-09-30,2410,121,0,2,2.0,...,Arena Khimki,12000.0,Sergey Karasev,https://www.transfermarkt.co.uk/cska-moscow_di...,NaN,NaN,PFK CSKA Moskva,FK Dinamo Moskva,0:2,domestic_league
3,2222664,RU1,2012,8. Matchday,2012-09-15,932,2698,1,0,5.0,...,RZD Arena,11408.0,Sergey Karasev,https://www.transfermarkt.co.uk/lokomotiv-mosc...,NaN,NaN,"Футбольный клуб ""Локомотив"" Москва",FC Rubin Kazan,1:0,domestic_league
4,2222683,RU1,2012,12. Matchday,2012-10-22,2696,12438,0,1,11.0,...,Metallurg,7534.0,Timur Arslanbekov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Volga Nizhniy Novgorod (- 2016),0:1,domestic_league

In [11]:
gms.columns

Index(['game_id', 'competition_id', 'season', 'round', 'date', 'home_club_id',
       'away_club_id', 'home_club_goals', 'away_club_goals',
       'home_club_position', 'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee', 'url',
       'home_club_formation', 'away_club_formation', 'home_club_name',
       'away_club_name', 'aggregate', 'competition_type'],
      dtype='object')

In [12]:
gms.dtypes

game_id                     int64
competition_id             object
season                      int64
round                      object
date                       object
home_club_id                int64
away_club_id                int64
home_club_goals             int64
away_club_goals             int64
home_club_position        float64
away_club_position        float64
home_club_manager_name     object
away_club_manager_name     object
stadium                    object
attendance                float64
referee                    object
url                        object
home_club_formation        object
away_club_formation        object
home_club_name             object
away_club_name             object
aggregate                  object
competition_type           object
dtype: object

In [13]:
gms.shape

(65216, 23)

In [14]:
gms['date']

0        2012-08-25
1        2012-08-20
2        2012-09-30
3        2012-09-15
4        2012-10-22
            ...
65211    2013-11-07
65212    2015-10-27
65213    2018-08-29
65214    2023-08-29
65215    2023-01-29
Name: date, Length: 65216, dtype: object

###### We have some dates that we can convert to the appropriate format.

In [15]:
gms['date'] = pd.to_datetime(gms['date'])

###### In some tuples, there is missing information about the manager, the stadium, the lineup, and the home team. This could be due to matches without a home team, for example, matches played on neutral grounds or in other circumstances. Additionally, in many tuples, the home team's position is not known.

In [16]:
gms.isna().sum()

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  0
away_club_id                  0
home_club_goals               0
away_club_goals               0
home_club_position        19454
away_club_position        19454
home_club_manager_name      742
away_club_manager_name      742
stadium                     211
attendance                 9512
referee                     594
url                           0
home_club_formation       62347
away_club_formation       62328
home_club_name            11252
away_club_name            10049
aggregate                     0
competition_type              0
dtype: int64

###### Here we observe that the number of different competitions is 43.

In [17]:
gms['competition_id'].unique()

array(['RU1', 'UKR1', 'FR1', 'DK1', 'BE1', 'GB1', 'SC1', 'L1', 'PO1',
       'ES1', 'TR1', 'NL1', 'GR1', 'IT1', 'CL', 'EL', 'CDR', 'NLP',
       'POCP', 'SFA', 'UKRP', 'CIT', 'FAC', 'GRP', 'GBCS', 'CLQ', 'POSU',
       'DFB', 'RUP', 'DKP', 'ELQ', 'SUC', 'KLUB', 'CGB', 'ECLQ', 'USC',
       'SCI', 'DFL', 'FRCH', 'UKRS', 'RUSS', 'NLSC', 'BESC'], dtype=object)

In [18]:
gms[gms["home_club_formation"].isnull()]

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222597,RU1,2012,6. Matchday,2012-08-25,3725,232,2,1,2.0,...,Akhmat-Arena,21700.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/terek-grozny_s...,NaN,NaN,RFK Akhmat Grozny,FK Spartak Moskva,2:1,domestic_league
1,2222627,RU1,2012,5. Matchday,2012-08-20,2696,4128,0,2,11.0,...,Metallurg,11400.0,Sergey Ivanov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Amkar Perm,0:2,domestic_league
2,2222658,RU1,2012,10. Matchday,2012-09-30,2410,121,0,2,2.0,...,Arena Khimki,12000.0,Sergey Karasev,https://www.transfermarkt.co.uk/cska-moscow_di...,NaN,NaN,PFK CSKA Moskva,FK Dinamo Moskva,0:2,domestic_league
3,2222664,RU1,2012,8. Matchday,2012-09-15,932,2698,1,0,5.0,...,RZD Arena,11408.0,Sergey Karasev,https://www.transfermarkt.co.uk/lokomotiv-mosc...,NaN,NaN,"Футбольный клуб ""Локомотив"" Москва",FC Rubin Kazan,1:0,domestic_league
4,2222683,RU1,2012,12. Matchday,2012-10-22,2696,12438,0,1,11.0,...,Metallurg,7534.0,Timur Arslanbekov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Volga Nizhniy Novgorod (- 2016),0:1,domestic_league
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65210,3705086,SFA,2021,Fourth Round,2022-01-22,987,3026,2,1,NaN,...,Fir Park,4735.0,Nick Walsh,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,NaN,Motherwell Football Club,NaN,2:1,domestic_cup
65211,2367292,EL,2013,Group B,2013-11-07,383,419,2,0,NaN,...,Philips Stadion,10000.0,Cristian Balaj,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,NaN,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,2:0,international_cup
65212,2629035,NLP,2015,Third Round,2015-10-27,383,16866,6,0,NaN,...,Philips Stadion,31000.0,Allard Lindhout,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,NaN,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,6:0,domestic_cup
65213,3092951,CLQ,2018,Qualifying Round 2nd leg,2018-08-29,383,713,3,0,NaN,...,Philips Stadion,34200.0,Anthony Taylor,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,NaN,Eindhovense Voetbalvereniging Philips Sport Ve...,NaN,3:0,international_cup
65215,4013659,FAC,2022,Fourth Round,2023-01-29,512,3684,3,1,NaN,...,bet365 Stadium,14392.0,David Webb,https://www.transfermarkt.co.uk/spielbericht/i...,NaN,NaN,Stoke City,NaN,3:1,domestic_cup

## <font color='green'>clubs</font> table
###### The clubs table contains statistical information about a particular team, such as the number of players, the market value, the number of foreign players, the home stadium, and the coach.

In [19]:
clb = pd.read_csv('../csv/clubs.csv')
clb.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,url
0,105,sv-darmstadt-98,Sportverein Darmstadt 1898 e. V.,L1,NaN,30,26.4,11,36.7,1,Merck-Stadion am Böllenfalltor,17810,€-1.60m,NaN,2023,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,FK Ural Yekaterinburg,RU1,NaN,25,28.2,13,52.0,5,Yekaterinburg Arena,23000,€-770k,NaN,2023,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,32,27.4,16,50.0,13,Tüpraş Stadyumu,42590,€-14.50m,NaN,2023,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,27.4,17,65.4,17,Olimpico di Roma,73261,+€65.20m,NaN,2023,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,29,26.2,21,72.4,22,Tottenham Hotspur Stadium,62062,€-130.40m,NaN,2023,https://www.transfermarkt.co.uk/tottenham-hots...

###### The missing information is the market value, the average age, and the percentage of foreigners. The latter two pieces of information could be missing due to incomplete information about the team composition, while the market value information seems to be missing altogether because it is also missing for well-known teams (e.g., AS Roma).

In [20]:
clb.isna().sum()

club_id                      0
club_code                    0
name                         0
domestic_competition_id      0
total_market_value         426
squad_size                   0
average_age                 38
foreigners_number            0
foreigners_percentage       47
national_team_players        0
stadium_name                 0
stadium_seats                0
net_transfer_record          0
coach_name                 426
last_season                  0
url                          0
dtype: int64

In [21]:
clb.shape

(426, 16)

In [22]:
clb[clb["total_market_value"].isnull()]

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,url
0,105,sv-darmstadt-98,Sportverein Darmstadt 1898 e. V.,L1,NaN,30,26.4,11,36.7,1,Merck-Stadion am Böllenfalltor,17810,€-1.60m,NaN,2023,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,FK Ural Yekaterinburg,RU1,NaN,25,28.2,13,52.0,5,Yekaterinburg Arena,23000,€-770k,NaN,2023,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,32,27.4,16,50.0,13,Tüpraş Stadyumu,42590,€-14.50m,NaN,2023,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,27.4,17,65.4,17,Olimpico di Roma,73261,+€65.20m,NaN,2023,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,29,26.2,21,72.4,22,Tottenham Hotspur Stadium,62062,€-130.40m,NaN,2023,https://www.transfermarkt.co.uk/tottenham-hots...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,68608,cf-os-belenenses,CF Os Belenenses,PO1,NaN,30,25.7,5,16.7,0,Estádio do Restelo,19980,+-0,NaN,2017,https://www.transfermarkt.co.uk/cf-os-belenens...
422,724,fc-volendam,Football Club Volendam,NL1,NaN,29,22.8,14,48.3,3,Kras Stadion,7384,+€1.80m,NaN,2023,https://www.transfermarkt.co.uk/fc-volendam/st...
423,800,atalanta-bergamo,Atalanta Bergamasca Calcio S.p.a.,IT1,NaN,25,27.2,17,68.0,15,Gewiss Stadium,21747,+€87.00m,NaN,2023,https://www.transfermarkt.co.uk/atalanta-berga...
424,979,moreirense-fc,Moreirense Futebol Clube,PO1,NaN,26,26.0,17,65.4,2,Estádio C. J. de Almeida Freitas,6153,€-2.05m,NaN,2023,https://www.transfermarkt.co.uk/moreirense-fc/...
425,984,west-bromwich-albion,West Bromwich Albion,GB1,NaN,25,27.8,8,32.0,4,The Hawthorns,26850,€-1.35m,NaN,2020,https://www.transfermarkt.co.uk/west-bromwich-...

###### The data types seem correct, in particular we have three columns that can have floating-point values so they are of type float.

In [23]:
clb.dtypes

club_id                      int64
club_code                   object
name                        object
domestic_competition_id     object
total_market_value         float64
squad_size                   int64
average_age                float64
foreigners_number            int64
foreigners_percentage      float64
national_team_players        int64
stadium_name                object
stadium_seats                int64
net_transfer_record         object
coach_name                 float64
last_season                  int64
url                         object
dtype: object

## <font color='green'>club_games</font> table
###### Here we find information about the team's performance in individual matches.

In [24]:
clb_games = pd.read_csv('../csv/club_games.csv')
clb_games.head()

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2221751,431,1,NaN,Lutz Göttling,60,2,NaN,Christian Streich,Home,0
1,2221755,83,3,NaN,Ralph Hasenhüttl,4795,0,NaN,Tomas Oral,Home,1
2,2222597,3725,2,2.0,Stanislav Cherchesov,232,1,5.0,Unai Emery,Home,1
3,2222627,2696,0,11.0,Andrey Kobelev,4128,2,10.0,Rustem Khuzin,Home,0
4,2222658,2410,0,2.0,Leonid Slutski,121,2,13.0,Dan Petrescu,Home,0

In [25]:
clb_games.shape

(130432, 11)

In [26]:
clb_games.columns

Index(['game_id', 'club_id', 'own_goals', 'own_position', 'own_manager_name',
       'opponent_id', 'opponent_goals', 'opponent_position',
       'opponent_manager_name', 'hosting', 'is_win'],
      dtype='object')

In [27]:
clb_games.dtypes

game_id                    int64
club_id                    int64
own_goals                  int64
own_position             float64
own_manager_name          object
opponent_id                int64
opponent_goals             int64
opponent_position        float64
opponent_manager_name     object
hosting                   object
is_win                     int64
dtype: object

###### The missing information refers to the teams' positions and the managers' names.

In [28]:
clb_games.isna().sum()

game_id                      0
club_id                      0
own_goals                    0
own_position             38908
own_manager_name          1484
opponent_id                  0
opponent_goals               0
opponent_position        38908
opponent_manager_name     1484
hosting                      0
is_win                       0
dtype: int64

## <font color='green'>players</font> table
###### We find information about individual players, such as personal information such as date of birth, country of origin, height, preferred foot, maximum market value reached and agent name.

In [29]:
ply = pd.read_csv('../csv/players.csv')
ply.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
1,670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
2,1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3,3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
4,3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC

In [30]:
ply.columns

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'market_value_in_eur',
       'highest_market_value_in_eur', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name'],
      dtype='object')

In [31]:
ply.dtypes

player_id                                 int64
first_name                               object
last_name                                object
name                                     object
last_season                               int64
current_club_id                           int64
player_code                              object
country_of_birth                         object
city_of_birth                            object
country_of_citizenship                   object
date_of_birth                            object
sub_position                             object
position                                 object
foot                                     object
height_in_cm                            float64
market_value_in_eur                     float64
highest_market_value_in_eur             float64
contract_expiration_date                 object
agent_name                               object
image_url                                object
url                                      object
current_club_domestic_competition_id     object
current_club_name                        object
dtype: object

In [32]:
ply['date_of_birth'] = pd.to_datetime(ply['date_of_birth'])
ply['contract_expiration_date'] = pd.to_datetime(ply['contract_expiration_date'])
ply.dtypes

player_id                                        int64
first_name                                      object
last_name                                       object
name                                            object
last_season                                      int64
current_club_id                                  int64
player_code                                     object
country_of_birth                                object
city_of_birth                                   object
country_of_citizenship                          object
date_of_birth                           datetime64[ns]
sub_position                                    object
position                                        object
foot                                            object
height_in_cm                                   float64
market_value_in_eur                            float64
highest_market_value_in_eur                    float64
contract_expiration_date                datetime64[ns]
agent_name                                      object
image_url                                       object
url                                             object
current_club_domestic_competition_id            object
current_club_name                               object
dtype: object

###### The missing information is personal in nature, such as place of birth, height, information about the preferred foot, and market value. The most important information that is not available for many players is first_name. In this case, the name column will only have the value of last_name. However, since we have an identifier such as player_id, we can still associate the player to the data even if we do not know the first_name.

In [33]:
ply.isna().sum()

player_id                                   0
first_name                               1965
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2689
city_of_birth                            2203
country_of_citizenship                    543
date_of_birth                              47
sub_position                              172
position                                    0
foot                                     2389
height_in_cm                             2098
market_value_in_eur                     10919
highest_market_value_in_eur              1321
contract_expiration_date                11467
agent_name                              15361
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
dtype: int64

In [34]:
ply[ply['first_name'].isnull()]

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
24,5974,NaN,Matuzalém,Matuzalém,2015,276,matuzalem,Brazil,Natal,Brazil,...,left,178.0,NaN,16000000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/matuzalem/prof...,IT1,Hellas Verona
47,13952,NaN,Liedson,Liedson,2012,720,liedson,Brazil,Cairú,Portugal,...,right,175.0,NaN,15000000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/liedson/profil...,PO1,FC Porto
49,14137,NaN,Briguel,Briguel,2015,1301,briguel,Portugal,Funchal,Portugal,...,right,174.0,NaN,800000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/briguel/profil...,PO1,CS Marítimo
51,14282,NaN,Danielson,Danielson,2015,979,danielson,Brazil,São Paulo,Brazil,...,right,186.0,NaN,1500000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/danielson/prof...,PO1,Moreirense FC
66,17292,NaN,Joeano,Joeano,2013,2425,joeano,Brazil,Fortaleza,Brazil,...,right,181.0,NaN,1500000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/joeano/profil/...,PO1,Rio Ave FC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30200,105468,NaN,Neuton,Neuton,2015,410,neuton,Brazil,Erechim,Brazil,...,left,182.0,NaN,2800000.0,NaT,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/neuton/profil/...,IT1,Udinese Calcio
30218,54183,NaN,Maicosuel,Maicosuel,2013,410,maicosuel,Brazil,Cosmópolis,Brazil,...,NaN,NaN,NaN,4500000.0,NaT,RJ Assessoria,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/maicosuel/prof...,IT1,Udinese Calcio
30221,323954,NaN,Walace,Walace,2023,410,walace,Brazil,Salvador,Brazil,...,right,188.0,7000000.0,14000000.0,2026-06-30,BSSM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/walace/profil/...,IT1,Udinese Calcio
30250,217863,NaN,Guilherme,Guilherme,2023,2293,guilherme,Brazil,Porto Alegre,Brazil,...,left,180.0,1100000.0,2200000.0,2024-06-30,Jose Renato Martinez,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/guilherme/prof...,TR1,Konyaspor
30293,99523,NaN,Nícolas,Nícolas,2020,410,nicolas,Brazil,Colorado do Oeste,Brazil,...,right,190.0,300000.0,900000.0,2023-06-30,Grimaldi Mariano,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/nicolas/profil...,IT1,Udinese Calcio

In [35]:
ply.shape

(30302, 23)

## <font color='green'>appearances</font> table
###### In this table, we find information about players based on individual matches, such as the number of yellow/red cards, the number of goals, assists, and minutes played.

In [36]:
apr = pd.read_csv('../csv/appearances.csv')
apr.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [37]:
apr.columns

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

In [38]:
apr.dtypes

appearance_id             object
game_id                    int64
player_id                  int64
player_club_id             int64
player_current_club_id     int64
date                      object
player_name               object
competition_id            object
yellow_cards               int64
red_cards                  int64
goals                      int64
assists                    int64
minutes_played             int64
dtype: object

In [39]:
apr['date'] = pd.to_datetime(apr['date'])

In [40]:
apr.dtypes

appearance_id                     object
game_id                            int64
player_id                          int64
player_club_id                     int64
player_current_club_id             int64
date                      datetime64[ns]
player_name                       object
competition_id                    object
yellow_cards                       int64
red_cards                          int64
goals                              int64
assists                            int64
minutes_played                     int64
dtype: object

In [41]:
apr.isna().sum()

appearance_id               0
game_id                     0
player_id                   0
player_club_id              0
player_current_club_id      0
date                        0
player_name               324
competition_id              0
yellow_cards                0
red_cards                   0
goals                       0
assists                     0
minutes_played              0
dtype: int64

## <font color='green'>game_events</font> table
###### The game_events table contains detailed information about specific events that occur during a football match. Some examples of events include a player entering the field (substitution), an assist, a foul, a yellow or red card, and other relevant events during the match.

In [42]:
gme = pd.read_csv('../csv/game_events.csv')
gme.head()

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN

In [43]:
gme.columns

Index(['game_event_id', 'date', 'game_id', 'minute', 'type', 'club_id',
       'player_id', 'description', 'player_in_id', 'player_assist_id'],
      dtype='object')

In [44]:
gme.dtypes

game_event_id        object
date                 object
game_id               int64
minute                int64
type                 object
club_id               int64
player_id             int64
description          object
player_in_id        float64
player_assist_id    float64
dtype: object

In [45]:
gme['date'] = pd.to_datetime(gme['date'])

In [46]:
gme.dtypes

game_event_id               object
date                datetime64[ns]
game_id                      int64
minute                       int64
type                        object
club_id                      int64
player_id                    int64
description                 object
player_in_id               float64
player_assist_id           float64
dtype: object

###### The missing information concerns the description, the player who came on as a substitute (probably if there were no substitutions in that match) and the missing information about the assists.

In [47]:
gme.isna().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description         336325
player_in_id        245309
player_assist_id    635701
dtype: int64

In [48]:
gme.shape

(666558, 10)

## <font color='green'>player_valutations</font> table
###### The information in this table contains information about the evaluations of a particular player during different seasons, such as the market value and the current team.

In [49]:
plv = pd.read_csv('../csv/player_valuations.csv')

In [50]:
plv.columns

Index(['player_id', 'last_season', 'datetime', 'date', 'dateweek',
       'market_value_in_eur', 'n', 'current_club_id',
       'player_club_domestic_competition_id'],
      dtype='object')

In [51]:
plv.dtypes

player_id                               int64
last_season                             int64
datetime                               object
date                                   object
dateweek                               object
market_value_in_eur                     int64
n                                       int64
current_club_id                         int64
player_club_domestic_competition_id    object
dtype: object

In [52]:
plv.head()

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

In [53]:
plv.shape

(440663, 9)

In [54]:
plv['date'] = pd.to_datetime(plv['date'])
plv['dateweek'] = pd.to_datetime(plv['dateweek'])
plv['datetime'] = pd.to_datetime(plv['datetime'])

In [55]:
plv.tail()

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
440658,950091,2023,2023-09-21,2023-09-21,2023-09-18,1000000,1,1091,GR1
440659,968903,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,653,GR1
440660,1031590,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,6418,GR1
440661,1166093,2023,2023-09-21,2023-09-21,2023-09-18,50000,1,30120,GR1
440662,405676,2018,2023-12-19,2023-12-19,2023-12-18,50000,1,23826,L1

In [56]:
plv['last_season'].nunique()

12

In [57]:
plv['datetime'].nunique()

4817

In [58]:
plv['date'].nunique()

4817

###### <font color="red">We have a match between the different values of datetime and the different values of dates, which is why it might make sense to delete one of these columns.</font>

## <font color='green'>game_lineaups</font> table
###### The data on the roles of each player of a particular team in a particular match, including the name of the captain, are collected in this table.

In [59]:
gml = pd.read_csv('../csv/game_lineups.csv')

In [60]:
gml.head()

,game_lineups_id,game_id,club_id,type,number,player_id,player_name,team_captain,position
0,77b0f371923e0c8bdf050a1e269faaac,3606208,338,starting_lineup,89,419061,Vladyslav Supryaga,0,Centre-Forward
1,cb6eeedb9f728570615d37b6fe7facaf,3606208,338,starting_lineup,10,368611,Mykola Shaparenko,0,Central Midfield
2,8e63d5f47aac2bdb0e54f5481986e104,3606208,338,starting_lineup,5,124182,Sergiy Sydorchuk,1,Defensive Midfield
3,ea4a96d8be410f2d646cf095c4faae7f,3606208,338,starting_lineup,94,181118,Tomasz Kedziora,0,Right-Back
4,e6abe553801b09bc623c3deb96acba17,3606208,338,starting_lineup,16,404842,Vitaliy Mykolenko,0,Left-Back

In [61]:
gml.columns

Index(['game_lineups_id', 'game_id', 'club_id', 'type', 'number', 'player_id',
       'player_name', 'team_captain', 'position'],
      dtype='object')

In [62]:
gml.shape

(119133, 9)

In [63]:
gml.dtypes

game_lineups_id    object
game_id             int64
club_id             int64
type               object
number             object
player_id           int64
player_name        object
team_captain        int64
position           object
dtype: object

In [64]:
gml.isna().sum()

game_lineups_id    0
game_id            0
club_id            0
type               0
number             0
player_id          0
player_name        0
team_captain       0
position           0
dtype: int64